<form [formGroup]="form">
  <div><label>model : <input type="text" formControlName="model"></label></div>
  <div><label>year : <input type="text" formControlName="year"></label></div>
  <div><label>price : <input type="text" formControlName="price"></label></div>
  <button (click)="save()">{{!carForUpdate?'save':'update'}}</button>
</form>
<hr>

<div>
  <div *ngFor="let car of cars">
    {{car.id}} -- {{car.model}} -- {{car.price}} <button (click)="update(car)">update</button> <button (click)="delete(car.id)">delete</button>
  </div>
</div>
